body{
    //width:1280px;
    width:100%;
    margin: 0 auto;
}

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow:auto;
}

div {
    word-wrap: break-word;
}

table{
    table-layout:fixed;
}

textarea{
    height:100px;
    width:100%;
}

div.modal-body table{
    width:100%;
}

div.modal-body th{
    width:20%;
}

div.modal-body input[type="text"] {
    width:100%;
}

div.modal-body select[multiple]{
    //width:100%;
    height:150px;
}


div#network {
    //height: 400px;
    border: 1px solid lightgray;
}

div.modal-dialog {
    width: 800px;
}

div.modal-content {
    width: 800px;
}
