{% extends "base.html" %}

{% block title %}<title>TTP Matrix</title>{% endblock %}
{% block visjslib %}{% endblock %}
{% block datatableslib %}{% endblock %}
{% block datetimepickerlib %}{% endblock %}
{% block jquery %}{% endblock%}
{% block container %}
<div class="col-md-12" >
<div class="panel panel-default">
<div class="panel-heading">TTP Matrix</div>
<div class="panel-body">

<button style="float:right;" data-toggle="collapse" data-target="#option">Option</button>
<div id="option" class="collapse">
<div>
<form style="float:right" class="create_form" method=post>{% csrf_token %}
{{form}}<input type=submit name="refresh" value="refresh">
</form>
</div>
<div >
<h4>Kill Chain Phase:</h4>
{% for pn,cc in color.items %}
{{pn}}:<span style="font-size:200%;color:#{{cc}}">■ </span>
{% endfor %}
</div>
</div>

<div class="col-md-12">
<table id="ttp_table" class="table table-borderd">
<thead><tr><th colspan="1">TTP</th>
{% for a in actor %}<th><a href="/stix/{{a.object_id.object_id}}">{{a}}</th>{% endfor%}
</tr></thead>
<tbody>
{% for pn,d in data.items %}
{% if d %}
{% for k, v in d.items %}
<tr><td class="{{k.object_type.name}}"><a href="/stix/{{k.object_id.object_id}}">{{k}}</a></td>
{% for a in actor %}
<td
{% for i in v %}
{% if a.id == i %}
{% for cn, cc in color.items %}
{% if cn == pn %}
style="background-color:#{{cc}};"><a href="/stix/">{{k}}</a
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
></td>
{% endfor %}
</tr>
{% endfor %}
{% endif %}
{% endfor %}
</tbody>
</table>
</div></div></div>
</div>
{% endblock %}
