{% extends "base.html" %}

{% block title %}
<title>Timeline</title>
{% endblock %}

{% block datatableslib %}{% endblock %}
{% block jquery %}
<style>
    body {
      font-family:  purisa, 'comic sans', cursive;
    }

    .vis-timeline {
      //border: 2px solid purple;
      font-family:  purisa, 'comic sans', cursive;
      //font-size: 12pt;
      background: #ffecea;
    }

    .vis-item {
      //border-color: #F991A3;
      border-color: white;
      //background-color: pink;
      //font-size: 15pt;
      color: white;
      box-shadow: 5px 5px 20px rgba(128,128,128, 0.5);
    }

    .vis-item,
    .vis-item.vis-line {
      border-width: 3px;
    }

    .vis-item.vis-dot {
      //border-width: 10px;
      //border-radius: 10px;
    }

    .vis-item.vis-selected {
      border-color: green;
      background-color: lightgreen;
    }

    .vis-time-axis .vis-text {
      color: purple;
      padding-top: 10px;
      padding-left: 10px;
    }

    .vis-time-axis .vis-text.vis-major {
      font-weight: bold;
    }

    .vis-time-axis .vis-grid.vis-minor {
      border-width: 2px;
      border-color: pink;
    }

    .vis-time-axis .vis-grid.vis-major {
      border-width: 2px;
      border-color: #F991A3;
    }
    {% for k,v in colors.items %}
    .vis-item.{{k}} {
    background-color: {{v}};
    }
    {% endfor%}
</style>
{% endblock %}


{% block container %}

<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-heading">Timeline{% if obj %} of <a href="/stix/{{obj.object_id.object_id}}">{{obj}}</a>{% endif %}</div>
<div class="panel-body">

<div class="col-md-9" id="visualization" >
<input class="btn"  type="button" id="zoomIn" value="Zoom in"/>
<input class="btn" type="button" id="zoomOut" value="Zoom out"/>
<input class="btn" type="button" id="moveLeft" value="Move left"/>
<input class="btn" type="button" id="moveRight" value="Move right"/>
</div>
<div class="col-md-3">
<form method=post>{% csrf_token %}
<div id="types_form">
{{form.as_p}}
</div>
<input type=submit name="refresh" value="refresh">
</form>
<hr>
<h4>Legend</h4>
{% for k,v in colors.items %}
<input class="legend" id="{{k}}" type="checkbox" value="{{k}}" checked>
<span style="font-size:200%;color:{{v}}">■</span>: {{k}}<br>
{% endfor %}
</div>

</div><!--/panel-body-->
</div><!--/panel-->
</div>

<script type="text/javascript">
{% if groups %}
var groups = new vis.DataSet();
groups.add([{% for k,v in groups.items %}
{
    id: "{{v.id}}",
    content: "{{v.content}}",
    nestedGroups: [{% for n in v.nested_groups%}"{{n}}",{% endfor %}],
},
{% endfor %}]);
{% endif %}

{% if subgroups %}
groups.add([{% for k,v in subgroups.items %}
{
    id: "{{v.id}}",
    content: "{{v.content|safe}}",
},
{% endfor %}]);
{% endif %}

var items = new vis.DataSet();
items.add([{% for k,i in items.items %}
{% if i.group %}
{
    id: "{{i.id}}",
    content: "{{i.content|safe}}",
    title: "{{i.title|safe}}",
    group: "{{i.group}}",
    start: "{{i.start}}",
    {% if i.subgroup %}subgroup: "{{i.subgroup}}",{% endif %}
    {% if i.className %}className: "{{i.className}}",{% endif %}
    {% if i.end %}end: "{{i.end}}",
    {% if i.type %}type: "{{i.type}}",{% endif %}
    {% endif %}
},
{% endif %}
{% endfor %}]);

var container = document.getElementById('visualization');
var options = {
    align: 'left',
    orientation: 'top',
    type: 'point',
    stack: false,
    stackSubgroups: true,
};
{% if groups %}
var timeline = new vis.Timeline(container, items, groups, options);
{% else %}
var timeline = new vis.Timeline(container, items, options);
{% endif %}

function move (percentage) {
    var range = timeline.getWindow();
    var interval = range.end - range.start;
    timeline.setWindow({
        start: range.start.valueOf() - interval * percentage,
        end:   range.end.valueOf()   - interval * percentage
    });
}
document.getElementById('zoomIn').onclick    = function () { timeline.zoomIn( 0.2); };
document.getElementById('zoomOut').onclick   = function () { timeline.zoomOut( 0.2); };
document.getElementById('moveLeft').onclick  = function () { move(0.2); };
document.getElementById('moveRight').onclick  = function () { move(-0.2); };

document.getElementById('id_plot').onchange = function () {
    timeline.setOptions({type:this.value});
};
document.getElementById('id_stack_groups').onchange = function () {
    timeline.setOptions({stack:$(this).prop("checked")});
};
document.getElementById('id_stack_subgroups').onchange = function () {
    timeline.setOptions({stackSubgroups:$(this).prop("checked")});
};
document.getElementById('id_show_minor_labels').onchange = function () {
    timeline.setOptions({showMinorLabels:$(this).prop("checked")});
};

$('input.legend').click(function() {
checked = $(this).prop("checked");
var c = $(this).attr("id");
var item = items.get()
for (var i in item){
    j = item[i]["id"];
    k = items.get(j);
    if (k["className"]==c){
        if (checked==true){
            items.update({id:j,style:"visibility:visible"});
        }else {
            items.update({id:j,style:"visibility:hidden"});
        };
    };
};
});
$('#id_group input').click(function() {
checked = $(this).prop("checked");
var t = $(this).parent().text().replace(/^\s+/, "");
var g = groups.get(t);
for (var i in g["nestedGroups"]){
    var j = groups.get(g["nestedGroups"][i])
    groups.update({id:j["id"], visible:checked});
}
groups.update({id:g["id"], visible:checked});
});
</script>
</div>
{% endblock%}
